<div class="d-flex justify-contents:center flex-wrap border border-dark bg-success  text-dark bg-opacity-50">
    <div class="row ">
        <div class="card m-5 border border-dark border-3" *ngFor="let stu of data" style="width: 18rem;">
            <img [src]="stu.avatar" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{stu.name}}</h5>
                <p class="card-text">{{stu.description}}</p>
                <br>
                <a routerLink="/student/{{stu.id}}" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
</div>
