<div class="d-flex justify-contents:center flex-wrap border border-dark bg-success  text-dark bg-opacity-50">
    <div class="row ">
        <div class="card m-5 border border-dark border-3" *ngFor="let pro of data" style="width: 18rem;">
            <img [src]="pro.avatar" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pro.name}}</h5>
                <p class="card-text">{{pro.description}}</p>
                <br>
                <div class="float-left">
                    <button><a routerLink="/product/{{pro.id}}" class="btn btn-primary">More Info</a></button>
                </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary" (click)="delete(pro.id)"> <img src="https://img.icons8.com/material-outlined/24/null/trash--v1.png"/></button> 
                </div>
            </div>
        </div>
    </div>
</div>
