<div class="d-flex justify-contents:center flex-wrap border border-dark bg-success  text-dark bg-opacity-50">
    <div class="row ">
        <div class="card m-5 border border-dark border-3" *ngFor="let fac of data" style="width: 18rem;">
            <img [src]="fac.FacultyImage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{fac.FacultyName}}</h5>
                <p class="card-text">{{fac.FacultyDesignation}}</p>
                <br>
                <a routerLink="/faculty/{{fac.id}}" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
</div>